.navigationBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-height: 20vh;
    background-color: #FAF2F0;
}


.navigationBar_logo {
    height: 100px;
}


.navigationBar_menu {
    display: flex;
    flex-basis: 50vw;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.navigationBar_menu__link {
    color: #770057;
    font-family: 'Akshar', sans-serif;
    font-size: 1.25em;
    letter-spacing: 0.125em;
    text-decoration: none;
}

.navigationBar_menu__link:hover {
    color: #362007;
    transition: 10s;
}