/*::::::::::::::::::::::::::::::::::::::::
::::::::::  Mobile Layout CSS  :::::::::::
::::::::::::::::::::::::::::::::::::::::*/

.navigationBar {
    display: flex;
    flex-direction: column;
    min-height: 20vh;
    background-color: #c2d1e9;
}


.navigationBar_menu__link {
    color: #7d382f;
    font-family: 'Akshar', sans-serif;
    font-size: 0.75em;
    letter-spacing: 0.125em;
    text-decoration: none;
    transition: 2s;
}


.navigationBar_menu__link:hover {
    color: #362007;
    transition: 2s;
}


/*::::::::::::::::::::::::::::::::::::::::
::::::  Desktop/Laptop Layout CSS  :::::::
::::::::::::::::::::::::::::::::::::::::*/

@media (min-width: 1100px) {

.navigationBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-height: 20vh;
    position: sticky; 
    top: 0;
    background-color: #c2d1e9;
    opacity: 0.75;
}


.navigationBar_logo {
    height: 100px;
}


.navigationBar_menu {
    display: flex;
    flex-basis: 50vw;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.navigationBar_menu__link {
    color: #7d382f;
    font-family: 'Akshar', sans-serif;
    font-size: 1.25em;
    letter-spacing: 0.125em;
    text-decoration: none;
    transition: 2s;
}

.navigationBar_menu__link:hover {
    color: #362007;
    transition: 2s;
}

}